<!-- Footer -->
<footer class="page-footer font-small elegant-color-dark">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold mt-3 mb-4">Información</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Nosotros</a>
                    </li>
                    <li>
                        <a href="#!">Información de entrega</a>
                    </li>
                    <li>
                        <a href="#!">Politicas de Privacidad</a>
                    </li>
                    <li>
                        <a href="#!">Términos y Condiciones</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">
            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold  mt-3 mb-4">Servicio al cliente</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Devoluciones</a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold mt-3 mb-4">Información Extra</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Marcas</a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold mt-3 mb-4">Mi Cuenta</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Mi Cuenta</a>
                    </li>
                    <li>
                        <a href="#!">Favoritos</a>
                    </li>
                    <li>
                        <a href="#!">Historia de Pedidos</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none">
            <!-- Grid column -->
            <div class="col-md-3 mx-auto">
                <!-- Links -->
                <h5 class="font-weight-bold mt-3 mb-4">Detalles de Contacto</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Av. Instituto Politécnico Nacional Nte., 07300 Ciudad de México</a>
                    </li>
                    <li>
                        <a href="#!">55 5876 6421</a>
                    </li>
                    <li>
                        <a href="#!">siscomelectronica@gmail.com</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center elegant-color-dark py-3">
        SISCOM Electrónica © 2019, diseñado por DataKami
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <p>SISCOM Electrónica desde 1995. Empresa mexicana con oficinas en la Ciudad de México dedicada a ayudar a la comunidad estudiantil de todo el país.
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->