<header class="">
    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light white z-depth-0" [containerInside]="false">

        <div class="container">
            <!-- Navbar brand -->
            <mdb-navbar-brand><a class="navbar-brand" href="#"><i class="fa fa-bars"></i> Navbar</a></mdb-navbar-brand>

            <!-- Collapsible content -->
            <links>
                <!-- Links -->
                <ul class="navbar-nav ml-auto">
                    <li *ngIf="identity" class="nav-item">
                        <a class="nav-link waves-light" mdbWavesEffect>
                            <mdb-icon far icon="user"></mdb-icon> Bienvenido {{identity.nombre}} {{identity.apellidos}} </a>
                    </li>
                    <li *ngIf="!identity" class="nav-item">
                        <a class="nav-link waves-light" [routerLink]="[ '/login']" routerLinkActive="deep-orange-text" mdbWavesEffect>
                            <mdb-icon far icon="user"></mdb-icon> Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light " mdbWavesEffect>
                            <mdb-icon far icon="file"></mdb-icon> Mis pedidos</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link waves-light" mdbWavesEffect>
                            <mdb-icon far icon="heart"></mdb-icon> Favoritos<span class="sr-only">(current)</span></a>
                    </li>
                    <li *ngIf="!identity" class="nav-item">
                        <a class="nav-link waves-light" [routerLink]="[ '/register']" routerLinkActive="deep-orange-text" mdbWavesEffect>
                            <mdb-icon fas icon="book"></mdb-icon> Registro</a>
                    </li>
                    <li *ngIf="identity" class="nav-item">
                        <a class="nav-link waves-light" (click)="logout()" routerLinkActive="deep-orange-text" mdbWavesEffect>
                            <i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
                    </li>
                </ul>
                <!-- Links -->
            </links>
            <!-- Collapsible content -->
        </div>
    </mdb-navbar>
    <!--/.Navbar-->
    <div class="container">
        <div class="row mb-3">
            <div class=" col-lg-3 col-md-3 col-sm-3">
                <a><img class="img-fluid" [routerLink]="[ '/home']" routerLinkActive="active" src="assets/img/head/logo.png" title="SISCOM" alt="SISCOM Electrónica"></a>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-9 my-3 mt-sm-0">
                <div class="input-group">
                    <input type="text" class="form-control " placeholder="¿Que estas buscando?">
                    <span class="btn deep-orange" id="searchBtn"><i class="fa fa-search text-white"></i></span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 my-3 mt-sm-0">
                <select class="browser-default custom-select " id="filter_suc" name="sucursal">
                            <option value="" disabled> Selecciona tu Sucursal <span class="fa fa-heart"></span></option>
                            <option value="1"> Lindavista </option>
                            <option value="2"> Casco de Santo Tomás </option>
                            <option value="3"> Ecatepec </option>
                            <option value="4"> Xala, Cuautitlán </option>
                        </select>
            </div>
        </div>
        <a href="" class="d-flex justify-content-end deep-orange-text ">
            <i class="fa fa-shopping-bag mx-1 deep-orange-text"></i> Carrito Vacío</a>



    </div>

    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color-dark position-static">

        <!-- Navbar brand -->
        <mdb-navbar-brand>
            <a class="navbar-brand" href="#"></a>
        </mdb-navbar-brand>

        <!-- Collapsible content -->

        <!-- Collapsible content -->

    </mdb-navbar>
    <!--/.Navbar-->

</header>