/* You can add global styles to this file, and also import other style files */

#progresCategorias {
    height: 1px;
}

#btnCategorias {
    margin: 0rem;
    padding: 0rem;
}

#searchBtn {
    margin: auto;
    padding: 9px;
}


/* Header */

body {
    background: white;
}