/* You can add global styles to this file, and also import other style files */

body {
    background: #dcdbdb;
}

#contenedor {
    max-width: 1180px;
    margin: 20px auto;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#progresCategorias {
    height: 1px;
}

#btnCategorias {
    margin: 0rem;
    padding: 0rem;
}

#searchBtn {
    margin: auto;
    padding: 9px;
}


/*///////////////////////////////////////////////////////
/////////////////////--------------- HOME------------///
//////////////////////////////////////////////////// */


/* #progressOptions {
    height: 1px;
    background: #c8c8c8;
    border-radius: 0;
}

.card:hover {
    box-shadow: 0 0 20px #1111135c;
}

#wishList:hover {
    color: #f15a23;
} */


/*===================================================================================*/


/*  16. Footer
/*===================================================================================*/


/**===== 16.1. Footer Links =====**/


/* #footer .fpart-first {
    background-color: #333;
    color: #999;
    padding-top: 15px;
    padding-bottom: 15px;
}

#footer .fpart-first a {
    color: #999;
}

#footer .fpart-first a:hover {
    color: #fff;
}

#footer .fpart-first ul {
    padding: 0;
}

.wrapper-box #footer .fpart-second {
    border-radius: 0px 0px 5px 5px;
}

#footer .fpart-second {
    background-color: #333;
    color: #999;
}

#footer .fpart-second a {
    color: #f15a23;
}

#footer .fpart-second a:hover {
    color: #fff;
}

#footer .custom-text {
    padding: 15px 0px;
    border-top: 1px solid #444;
    line-height: 20px;
}

#footer .custom-text p {
    margin: 0;
}

#footer h5 {
    color: #eee;
    font-size: 17px;
    margin: 0px;
    padding: 0px 0px 10px 0px;
    font-weight: normal;
}

#footer .column ul li {
    list-style-type: none;
}

#footer .column a {
    text-decoration: none;
    display: block;
    padding: 3px 0px;
    line-height: 18px;
    font-size: 12px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#footer .column a:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
} */